<!DOCTYPE html>
<html lang="en">
<head>
	{{! Document Settings  }}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}">
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">

	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/semantic.css" }}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400">

	{{! Ghost outpus important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body>

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! The main Javascripts file for TheUlah }}
	<script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/semantic.js"}}"></script>
</body>
</html>
